Package: helloworld
Version: 1.0-2
Section: base
Priority: optional
Architecture: i386
Maintainer: Your Name <you@email.com>
Description: Hello World
 When you need some sunshine, just run this
 small program!
